body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.btn-color{
    background: #E55473;
}
.header{
    background: rgba(229, 84, 115, 0.1);
    
}
.container {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    padding: 50px;

}
.left, .right{
    width: 47%;
}
.left{
    margin-right: 3%;
}
.left h1{
    font-size: 3.5rem;
    line-height: 1.3;
}
.left p{
    font-size: 14px;
    line-height: 1.5;
    color: #666
}
.btn{
    background: rgba(229, 84, 115, 1);
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    float: left;


}
img{
    height: 100%;
}
.right{
height: 600px;

margin-right: 1.5%;

}

.feature{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    display: block;



}
.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.row .col{
    margin-top: 100px;
    height: 20rem;
    width:  17rem;
    padding: 30px;
}
.row .col  img{
    height: 80%;
    width: 80%;
    margin-top: 50px;

}
.row .col .text{
    background: #fff;
    text-decoration: underline;
    margin-bottom: 50px;
}

.one, .two, .three{

    border-radius: 48% 48% 0 0;
    height: 100%;
    

}

 .one{
    background: linear-gradient(180deg, rgba(167, 33, 98, 0.15) 0%, rgba(167, 33, 98, 0.127344) 15.1%, rgba(167, 33, 98, 0) 100%);
}
.two{
    background: rgba(5, 151, 160, 0.15);
}
.three {
    background: rgba(71, 125, 17, 0.15);
}



.service{
    background: rgba(39, 39, 39, 0.05);
    max-width: 1140px;
    margin: 0 auto;
}
.service .row {
    display: flex;
    justify-content: center;
}

.service .row .col {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.service .row .col .image{
    height: 88px;
    width: 88px;
    margin: 0 auto;
}
.service .row .col img{
    height: 100%;
    width: 100%;
    margin: 0;
}

.offer{
    background: rgba(229, 84, 115, 0.05);
    margin: 0 auto;
    text-align: center;
    display: flex;
}


.offer .left{
    justify-content: center;

}
.offer .left .btn{
    float: none;
    margin-top: 30px;
    display: inline-block;
}

.offer .container{

    padding: 50px 0 50px 0;
    width: 70%;
    text-align: center;
}

.insta .container{
    display: block;
}

.insta .row{
    display: block;
    text-align: center;
}
.insta .flower .col{
    padding: 0;
    margin-top: 30px;
}
.insta .row .col img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.insta .flower{
    display: flex;
    justify-content: space-around;
}

.sub{
    height: 300px;
    margin-top: 50px;
    
}


.sub .container{
    display: block;
    text-align: center;
    padding: 50px 0;
    background-image: url(assets/Rectangle\ 9.png);
}
.sub .btn{
    float: none;
    display: inline-block;
    height: 50px;
    line-height: 3;
    margin: 0;
    padding: 2px 15px;
    
}
.sub input{
    width: 50%;
    margin: 0;
    margin-right: 10px;
    padding: 0 20px;
    height: 50px;
    display: inline;
}

footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 50px;
}

footer h1 span{
    color: rgba(229, 84, 115, 1);
}

.grey{
    color: grey
}